---
import Head from "../components/Head.astro";

interface Props {
	title: string;
    description: string;
	reset?: boolean;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Head {...Astro.props} />
	</head>
	<body>
		<slot />
	</body>
</html>