---
import Head from "../components/Head.astro";

interface Props {
	title: string;
    description: string;
	reset?: boolean;
    fullHeight?: boolean;
}

const { title, fullHeight } = Astro.props;
---

<!doctype html>
<html lang="en" class={fullHeight ? "h-full" : ""}>
	<head>
		<Head {...Astro.props} />
	</head>
	<body class={fullHeight ? "h-full" : ""}>
		<slot />
	</body>
</html>