---
import AppSidebar from "@/components/AppSidebar.astro";
import AppSidebarReact from "@/components/AppSidebarReact";
import Sidebar from "@/components/Sidebar.astro";
---

<main>
    <AppSidebarReact>
        <slot />
    </AppSidebarReact>
</main>