---
import AppSidebar from "@/components/AppSidebar.astro";
import AppSidebarReact from "@/components/AppSidebarReact";
import { App } from "astro/app";
// import Sidebar from "@/components/Sidebar.astro";
---

<main>
    <AppSidebarReact path={Astro.url.pathname}>
        <slot />
    </AppSidebarReact>
</main>